.welcome {
  background: url("../img/header__background.png") no-repeat center / cover;
  top: 0px;
  width: 100%;
  min-height: 100vh;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  display: grid;
  -o-border-radius: 0px;
  place-items: center;
  &__container {
    display: grid;
    place-items: center;
    .welcome__title {
      display: block;
      left: calc(50% - 465px / 2 + 0.5px);
      margin-top: 2px;
      font-family: Lato-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 53px;
      text-align: center;
      color: #ffffff;
      font-weight: 400;
      letter-spacing: 0em;
      border-radius: nullpx;
      @media (max-width: 500px) {
        font-size: 30px;
      }
    }
    .welcome__btn {
      button {
        // left: calc(50% - 137px/2 + 0.5px);
        // margin-top: 35px;
        // padding-top: 10px;
        // display: block;
        // top: 10px;
        // font-family: Lato-Regular;
        // font-style: normal;
        // font-weight: normal;
        // font-size: 13px;
        // line-height: 19px;
        // text-align: center;
        // text-transform: uppercase;
        // color: #00D6B4;
        // width: fit-content;
        // font-family: Lato;
        // font-weight: 400;
        // letter-spacing: 0em;
        // border: 1px solid #00D6B4;
        // box-sizing: border-box;
        // border-radius: 3px;
        // padding: 10px;
        // &:hover{
        //     color: #FFF;
        // }
        margin-top: 35px;
        min-width: 250px;
        min-height: 60px;
        font-family: "Nunito", sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 700;
        color: #313133;
        background: #4fd1c5;
        background: linear-gradient(
          90deg,
          rgba(129, 230, 217, 1) 0%,
          rgba(79, 209, 197, 1) 100%
        );
        border: none;
        border-radius: 1000px;
        box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        outline: none;
        position: relative;
        padding: 10px;

        &:before {
          content: "";
          border-radius: 1000px;
          min-width: calc(300px + 12px);
          min-height: calc(60px + 12px);
          border: 6px solid #00ffcb;
          box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover,
        .button:focus {
          color: #313133;
          transform: translateY(-6px);
        }

        &:hover::before,
        button:focus::before {
          opacity: 1;
        }

        &:after {
          content: "";
          width: 30px;
          height: 30px;
          border-radius: 100%;
          border: 6px solid #00ffcb;
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: ring 1.5s infinite;
        }

        &:hover::after,
        &:focus::after {
          animation: none;
          display: none;
        }

        @keyframes ring {
          0% {
            width: 30px;
            height: 30px;
            opacity: 1;
          }
          100% {
            width: 300px;
            height: 300px;
            opacity: 0;
          }
        }
      }
    }
  }
}
