
@font-face {
	font-weight: 700;
	font-family: OpenSans-Regular;
	font-style: normal;
	src: url(../fonts/OpenSans-Regular.woff) format('woff');
	font-display: swap;
}
@font-face {
    font-weight: 700;
	font-family: Lato-Regular;
	font-style: normal;
	src: url(../fonts/Lato-Regular.woff) format('woff');
	font-display: swap;
}
